<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create page</title>
</head>
<body>
    <h1>여기에 todo를 작성해 주시길 바랍니다.</h1>
    <form action="/todo/create/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="title" id="title" placeholder="제목을 입력하세요">
        <input type="text" name="content" id="content" placeholder="세부 내용을 입력하세요">
        <input type="file" name="image">
        <button type="submit">todo 추가</button>
    </form>
</body>
</html>